.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
}

.maps {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    width: 100%;
}

.covid_map {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.slider {
    text-align: center;
    position: relative;
    top: 600px;
}